@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.timer-container {
  height: 300px;
  margin: 2rem 1rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.display {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display .display__time-left {
  font-size: 6rem;
}

.display .display__time-left.active-pomo {
  color: #F4AC45;
}

.display .display__time-left.active-break {
  color: #337357;
}

.counters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.5rem 0;
}

.timer__settings,
.timer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

button {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.25rem;
  padding: 0.5rem 0;
  color: #545454;
  border-radius: 5px;
  border: 1px solid #141829;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  color: #545454;
}

button:hover {
  background-color: #F572B0;
  color: #ddd;
  border-color: #ddd;
  bottom: 1px;
}

.todos {
  width: 100%;
  max-width: 400px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2rem 1rem 1rem 1rem;
}

.todos h2 {
  text-align: center;
}

@media (max-width: 1024px) {
  .todos {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.todos__input-container {
  position: relative;
}

.todos__input-container input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ddd;
  width: 100%;
  height: 35px;
  padding: 0.3rem 40px 0.3rem 1rem;
  outline: none;
  border-radius: 20px;
  border: 1px solid #141829;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: inherit;
}

.todos__input-container input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #545454;
}

.todos__input-container input::-moz-placeholder {
  /* Firefox 19+ */
  color: #545454;
}

.todos__input-container input:-ms-input-placeholder {
  /* IE 10+ */
  color: #545454;
}

.todos__input-container input:-moz-placeholder {
  /* Firefox 18- */
  color: #545454;
}

.todos__input-container input:focus {
  border-color: #F572B0;
}

.todos__input-container input:focus + .todos__add {
  border-color: #f896c4;
}

.todos__input-container input:focus + .todos__add:hover {
  color: #F572B0;
}

.todos__input-container .todos__add {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  color: #ddd;
  border-top: 1px solid #141829;
  border-right: 1px solid #141829;
  border-bottom: 1px solid #141829;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}

.todos__input-container .todos__error {
  text-align: center;
  font-size: 0.75rem;
  color: #F572B0;
  margin: 0.2rem;
  font-style: italic;
}

.todos__list-container .todos__list {
  margin-top: 1rem;
}

.todos__list-container li {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 0.3rem 4.5rem 0.3rem 0.5rem;
  color: #ddd;
  border-bottom: 1px solid rgba(245, 114, 176, 0.5);
}

.todos__list-container li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.todos__list-container li.completed {
  text-decoration: line-through;
}

.todos__list-container li .fa-check {
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: 1.9rem;
  top: 0;
  bottom: 0;
  padding: 0.5rem;
  color: #F572B0;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.todos__list-container li .fa-check:hover {
  color: #f896c4;
}

.todos__list-container li .fa-times {
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0.5rem;
  color: #ddd;
  width: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.todos__list-container li .fa-times:hover {
  color: white;
}

svg.one {
  display: block;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
}

svg.two {
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

svg.three {
  display: block;
  width: 30%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333;
  width: 100vw;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #141829;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  min-width: 300px;
  min-height: 500px;
  padding: 1rem;
  background-color: rgba(32, 40, 71, 0.8);
  border-radius: 10px;
  position: relative;
  color: #ddd;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #ddd;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 1.5rem;
  }
}

button {
  font-size: 0.9rem;
  outline: none;
  cursor: pointer;
}

.heading {
  position: absolute;
  top: 0;
  margin-top: 1rem;
}
/*# sourceMappingURL=main.css.map */