// base styles
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins&display=swap');
// font-family: 'Nunito', sans-serif;
// font-family: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333;
  width: 100vw;
}

body {
  width: 100%;
  min-height: 100vh;
  background: $body-bg;
  @include flexCenter;
  flex-direction: column;
}
.app-container {
  @include flexCenter;
  flex-direction: column;
  width: 60%;
  min-width: 300px;
  padding: 1rem;
  background-color: rgba(32, 40, 71, .8);
  min-height: 600px;
  border-radius: 10px;
  position: relative;
  color: $text-white;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include mobile {
    margin-top: 30px;
    flex-direction: column;
  }
}
h1,
h2 {
  font-family: 'Nunito', sans-serif;
  color: $text-white;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  @include mobile {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  @include mobile {
    font-size: 1.5rem;
  }
}
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  outline: none;
  border: 1px solid #333;
  cursor: pointer;
}
svg {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
}
.heading {
  position: absolute;
  top: 0;
  margin-top: 1rem;
}