.timer-container {
  height: 300px;
  margin: 2rem 1rem 1rem 1rem;
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}
.display {
  flex: 2;
  @include flexCenter;
  .display__time-left {
    font-size: 6rem;
  }
}
.counters {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
}
.timer__settings,
.timer__buttons {
  display: flex;
  width: 100%;
}
button {
  position: relative;
  flex: 1;
  margin: 0.25rem;
  padding: 0.5rem 0;
  color: $text-dark;
  border-radius: 5px;
  border: 1px solid $body-bg;
  transition: all 0.5s ease;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  color: $text-dark;
  &:hover {
    background-color: $primary;
    color: $text-white;
    border-color: $text-white;
    bottom: 1px;
  }
}
