.todos {
    min-width: 300px;
}
.todos__input-container {
    position: relative;
    input {
        width: 100%;
        padding: 0.5rem 40px 0.5rem 0.5rem;
        outline: none;
        margin-top: 1rem;
        font-size: inherit;
    }
    .todos__add {
        display: inline-block;
        position: absolute;
        @include flexCenter;
        font-size: 1rem;
        top: 1rem;
        right: 0;
        height: 38px;
        width: 38px;
        background-color: #50C878;
        border: 1px solid;
    }
    .todos__error {
        text-align: center;
        font-size: 0.8rem;
        color: salmon;
    }
}
.todos__list-container {
    p {
        text-align: center;
        margin: 0.5rem;
    }
}
.todos__list-container {
    li {
        list-style: none;
    }
}