.todos {
  width: 100%;
  max-width: 400px;
  align-self: flex-start;
  margin: 1rem;
  h2 {
    text-align: center;
  }
  @include mobile {
    margin: 1rem 0 0 0;
    align-self: center;
  }
}
.todos__input-container {
  position: relative;
  input {
    background-color: rgba(255, 255, 255, 0.1);
    color: $text-white;
    width: 100%;
    height: 35px;
    padding: 0.3rem 40px 0.3rem 1rem;
    outline: none;
    font-size: inherit;
    border-radius: 20px;
    border: 1px solid $body-bg;
    transition: all 0.3s ease-in-out;
    font-family: inherit;
    &:focus {
      border-color: $primary;
      & + .todos__add {
        border-color: $hover-primary-accent;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .todos__add {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    position: absolute;
    @include flexCenter;
    font-size: 1rem;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    color: $text-white;
    border-top: 1px solid $body-bg;
    border-right: 1px solid $body-bg;
    border-bottom: 1px solid $body-bg;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
  }
  .todos__error {
    text-align: center;
    font-size: 0.75rem;
    color: $primary;
    margin: 0.2rem;
    font-style: italic;
  }
}

.todos__list-container {
  .todos__list {
    margin-top: 1rem;
  }
  li {
    list-style: none;
    position: relative;
    width: 100%;
    // margin: 0.5rem 0;
    padding: 0.3rem 4.5rem 0.3rem 0.5rem;
    color: $text-white;
    border-bottom: 1px solid rgba(245, 114, 176, 0.5);
    // border-radius: 20px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.completed {
      text-decoration: line-through;
    }
    .fa-check {
      position: absolute;
      transition: all 0.3s ease-in-out;
      right: 1.9rem;
      top: 0;
      bottom: 0;
      padding: 0.5rem;
      color: $primary;
      width: 30px;
      @include flexCenter;
      cursor: pointer;
      &:hover {
        color: $hover-primary-accent;
      }
    }
    .fa-times {
      position: absolute;
      transition: all 0.3s ease-in-out;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0.5rem;
      color: $text-white;
      width: 30px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      @include flexCenter;
      cursor: pointer;
      &:hover {
        color: $hover-secondary-accent;
      }
    }
  }
}
